.wrapper {
  padding: 0rem 4rem 2rem 4rem;
  background-color: white;
  display: flex;
  
  // gap: 12rem;
  @media screen and (max-width : 500px) {
    background-color: white;
    padding: 0.8rem;
    display: flex;
    // flex-direction: column;
    // background-color: aqua;
  }
  .container {
    // background-color: aqua;
    .entries {
      display: flex;
      // flex-direction: column; ///////////////////////
      flex-wrap: wrap;
      gap: 2rem;
      @media screen and (max-width : 500px) {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
      .post {
        position: relative;
        display: flex;
        gap: 1rem;
        box-shadow: 4px 4px 4px #ddd;
        border-radius:10px 20px 20px 10px;
        overflow: hidden;
        max-width: 100vw;
        min-width: fit-content;
        // max-width: calc(100% - 5rem) ;
        border-bottom: 2px solid crimson;
        letter-spacing: 2px;
        
        background-color: white;
        @media screen and (max-width : 500px) {
          background-color: white;
          box-shadow: 2px 2px 0px rgb(99, 96, 96);
          

        }
        &:hover {
          cursor: pointer;
          scale: 1.05;
          transition: all 0.4s;
          border-bottom: 5px solid dodgerblue;
          
        }
        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          > img {
            max-width: 12rem;
          }
        }
        .info {
          > h2 {
            font-size: 1.6rem;
            text-transform: capitalize;
            font-weight: 500;
            padding: 10px;
          }
          .author {
            display: flex;
            gap: 0.5rem;
            > span {
                text-transform: capitalize;
              font-style: italic;
              font-size: 1rem;
              color: rgb(99, 96, 96);
              text-decoration: none;
              padding:10px;
            }
          }
          > p {
            font-size: 1rem;
            text-transform: capitalize;
            font-weight: 400;
            padding: 10px;

          }
        }
      }

      .deletePost{
        border-bottom: black;
        border-radius: 50%;
        color: white;
        font-size: 1rem;
        min-width: 2rem;
        height: 2rem;
        padding: 0rem; // // // // //
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: crimson;        
        &:hover{
          background-color: rgb(43,43,43);
          transition: all 0.5s;
          scale: 1.4;
          border-radius: 0px;
        }
      }
    }
  }
}
// p{
//   -webkit-box-orient: vertical;
//   display: -webkit-box;
//   -webkit-line-clamp: 5;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: normal;
// }