.wrapper {
  padding: 0rem 4rem 2rem 4rem;
  background-color: white;
  @media screen and (max-width : 500px) {
  // width: 100rem;
    padding: 0rem;
  }
  .container {

    > form {
      > textarea {
        width: 100%;
        height: 15rem;
        resize: both;
        background-color: white;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 2px;
        border: 2px solid #c4c3c3;
        padding: 20px;
      }
      > button {
        background-color: crimson;
        color: white;
        outline: none;
        border: none;
        padding: 10px;
        font-size: 1.2rem;
        cursor: pointer;
        border-radius: 3px;
        &:hover {
          transition: all 0.5s;
          background-color: dodgerblue;
        }
      }
    }
    .answerAreaWrapper {
      // background-color: lightcoral;
      padding-top: 40px;
      // position: relative;
      // border:  5px solid red;
      
      .answerAreaContainer {
        border: 2px solid #ddd;
        padding: 10px;
        font-size: 1.2rem;
        
        > span {
          font-weight: 700;
          color: rgb(67, 66, 66);
        }
        > div {
          font-weight: 700;
          color: crimson;
        }
        > p {
          text-transform: capitalize;
          color: rgb(43, 43, 43);

          font-weight: 500;
          &::selection {
            color: white;
            background: crimson;
          }
        }
      }
      .likeButton{
        background-color: crimson;
        font-size: 2rem;
        color: white;
        padding: 10px;
        border: none;
        outline: none;
        letter-spacing: 2px;
        text-transform: capitalize;
        border-radius: 50%;
        text-align: center;
        // position: absolute;

        margin-top: -22%;
        margin-left: 90%;
        &:hover{
          background-color: dodgerblue;
          transition: all 0.5s;

        }
      }
    }
  }
}
